.layout-container {
  font-family: Arial, sans-serif;
}

.header {
  background: linear-gradient(135deg, #000000, #ffffff);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.brand-text h1 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.brand-text p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0;
  gap: 40px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.navbar li {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}



.footer {
  text-align: center;
  padding: 15px;
  background-color: #f4f4f4;
  margin-top: 40px;
}
